<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ head }} {{ id }}</h1>
    {% for us in user %}
        {% if us.id == id %}
            <tr>{{ us.name }}</tr>
            <tr>{{ us.lastname }}</tr>
            <tr>{{ us.age }}</tr>
            <tr>{{ us.phone }}</tr>
            <tr>{{ us.address }}</tr>
        {% endif %}
    {% endfor %}
</body>
</html>